<mat-toolbar color="primary">
  <span>Giuseppe Calderonio</span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/projects">Projects</a>

  <div class="spacer"></div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>linkedin</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon></mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>